@import "variables.scss";

@keyframes node-wobble {
    0% {
        scale: var(--node-scale-multiplier);
    }
    50% {
        scale: calc(var(--node-scale-multiplier) * 0.85);
    }
    100% {
        scale: var(--node-scale-multiplier);
    }
}

.holder {
    position: relative;
    pointer-events: none;

    width: 13rem;
    margin-top: 1.25rem;

    &::before,
    &::after {
        content: " ";
        position: absolute;
        top: calc(-2.5px - 0.675rem);
        width: 100%;
        height: 5px;
        background: $scrollbar-background;
        box-shadow: 0 0 10px $background inset;
    }

    &::after {
        top: auto;
        bottom: -0.675rem;
    }

    &.hidden {
        display: none;
    }
}

.node {
    display: flex;
    flex-direction: column;

    position: relative;
    pointer-events: all;
    cursor: grab;

    width: 10rem;

    border-radius: $node-radius;
    padding-bottom: 0.25rem;
    margin: 0 auto 0 auto;

    transition: transform 0.2s ease-in-out;

    --box-shadow-color: color-mix(in oklab, var(--node-color) 70%, #000);

    &::before,
    &::after {
        content: " ";

        position: absolute;
        width: 1.25rem;
        height: calc(100% - 0.25rem);

        background: color-mix(in oklab, var(--node-color) 80%, #000);
    }

    &::before {
        left: 0;
        z-index: 1;

        border-radius: $node-radius 0 0 $node-radius;
    }

    &::after {
        right: 0;
        z-index: 1;

        border-radius: 0 $node-radius $node-radius 0;
    }

    &:not(.template) {
        z-index: 1;

        &:hover {
            transform: scale(1.1);
            animation: none;
        }
    }

    &:has(.ports:empty) {
        width: 7rem;

        // Port at right
        &:has(.inputs:empty) {
            .inputs {
                margin-right: 0;
            }

            .outputs {
                margin-left: -0.6rem;

                .port {
                    margin-left: 0.4rem;
                }
            }
        }

        // Port at left
        &:has(.outputs:empty) {
            .inputs {
                margin-right: -0.6rem;

                .port {
                    margin-right: 0.4rem;
                }
            }

            .outputs {
                margin-left: 0;
            }
        }

        .name {
            width: 100%;

            text-indent: 0;
            text-align: center;
        }

        .canvas-wrapper {
            width: 6rem;

            left: 0.25rem;

            &.enabled {
                height: 6rem;
            }
        }

        .ports {
            min-width: 1rem;

            > :first-child {
                margin-top: 2.25rem;
            }

            > :last-child {
                margin-bottom: 1.5rem;
            }

            .port_value {
                width: 5rem !important;
            }
        }

        &::before {
            width: 0.75rem;
        }

        &::after {
            width: 0.75rem;
            height: calc(100% - 1.75rem);

            margin-top: 1.5rem;

            border-top-right-radius: 0;
        }
    }

    &.template {
        position: fixed;
        transform: translate(-50%, -50%);
        transform-origin: top left;

        &.dragging {
            scale: 1.1;
            cursor: grabbing;
        }

        .ports .port {
            &::after {
                content: "";

                position: absolute;
                left: calc(50% - 15px);
                top: calc(50% - 15px);

                width: 30px;
                aspect-ratio: 1;

                cursor: pointer;
            }
        }

        .port_value {
            cursor: text;
            pointer-events: all !important;

            &:focus {
                outline: none;
            }
        }

        .canvas-wrapper {
            cursor: pointer;
        }

        .footer::after {
            content: "";
            position: absolute;

            top: -0.3rem;
            left: -0.5rem;
            z-index: 2;

            width: calc(100% + 1rem);
            height: calc(100% + 1rem);

            pointer-events: auto;
            cursor: pointer;
        }
    }

    .canvas-wrapper {
        position: absolute;

        width: 9rem;
        height: 0.3rem;

        padding: 0.25rem;

        left: 0.25rem;
        z-index: -1;

        overflow-y: clip;

        // translate: 0 calc(0.6rem - 100%);
        bottom: 0;
        translate: 0 calc(100% - 0.5rem);
        transition: height 0.2s ease-in-out;

        &.enabled {
            height: 9rem;
        }

        .canvas {
            position: absolute;

            width: calc(100% - 1.5rem);
            aspect-ratio: 1;

            bottom: 0.25rem;

            background: red;
            border: 0.5rem solid color-mix(in oklab, var(--node-color) 80%, #000);
            //box-shadow: 0 0 10px $background;
            border-radius: 0 0 $node-radius $node-radius;

            box-shadow: 1px 1px 1px var(--box-shadow-color),
            1.5px 1.5px 1px var(--box-shadow-color);

            transition: translate 0.2s ease-in-out;
        }
    }

    .name {
        position: absolute;

        width: 100%;
        height: 1.5rem;

        z-index: 1;

        border-radius: $node-radius $node-radius 0 0;
        user-select: none;

        background: var(--node-color);

        color: color-mix(in oklab, var(--node-color) 60%, #000);
        text-transform: uppercase;
        text-align: left;
        text-indent: 1.5rem;
        vertical-align: middle;
        line-height: 1.5rem;

        font-size: 1.2rem;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .port-holder {
        display: flex;
        flex-direction: row;

        position: relative;

        background: color-mix(in oklab, var(--node-color) 60%, #000);
        //box-shadow: 0 0 10px $background;

        box-shadow: 1px 1px 1px var(--box-shadow-color),
        1.5px 1.5px 1px var(--box-shadow-color),
        2px 2px 1px var(--box-shadow-color);

        border-radius: $node-radius;
    }

    .ports {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        position: relative;

        margin-top: auto;
        bottom: 0;
        z-index: 2;

        > :first-child {
            margin-top: 2.5rem;
        }

        > :last-child {
            margin-bottom: 1.85rem;
        }

        .port_data {
            display: flex;
            flex-direction: row;
            align-items: center;

            width: 100%;
            height: 0.75rem;

            .port_name {
                color: color-mix(in oklab, var(--node-color) 40%, #000);

                background: color-mix(in oklab, var(--node-color) 80%, #000);

                padding: 3px;

                line-height: 100%;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                white-space: nowrap;

                cursor: grab;

                &:has(+ .port_value) {
                    border-radius: 0;

                    + .port_value {
                        border: 2px solid color-mix(in oklab, var(--node-color) 80%, #000);
                        border-radius: 0 0.25rem 0.25rem 0;
                        margin: 0;
                    }
                }
            }

            .port {
                position: relative;

                min-width: 0.5rem;
                aspect-ratio: 1;

                background: #fff;
                border: 2px solid #ccc;
                border-radius: 40%;

                &.connected {
                    background: color-mix(in oklab, var(--node-color) 50%, #fff);
                    border: 2px solid color-mix(in oklab, var(--node-color) 40%, #fff);
                }
            }

            .port_value {
                width: 100%;
                min-width: 1.5rem;
                height: 1rem;

                padding: 1px;
                margin: 0 0.1rem;

                border-radius: 0.25rem;
                border: 1px solid color-mix(in oklab, var(--node-color) 60%, #000);
                background: color-mix(in oklab, var(--node-color) 50%, #000);

                pointer-events: none;

                color: color-mix(in oklab, var(--node-color) 100%, #fff);
                text-indent: 0.1rem;
                font-weight: 500;
                font-size: 0.9rem;
                font-family: Arial, Helvetica, sans-serif;

                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &::placeholder {
                    text-align: center;
                    color: color-mix(in oklab, var(--node-color) 70%, #000);
                }

                &:has(+ .port_name) {
                    border: 2px solid color-mix(in oklab, var(--node-color) 80%, #000);
                    border-radius: 0.25rem 0 0 0.25rem;
                    margin: 0;

                    + .port_name {
                        margin: 0;

                        border-radius: 0;
                    }
                }
            }
        }
    }

    .inputs {
        left: -0.4rem;
        margin-top: auto;
        margin-right: -0.8rem;

        .input {
            margin-right: 0.9rem;
        }

        .port_name {
            padding-left: 0;

            border-radius: 0 0.25rem 0.25rem 0;
        }
    }

    .outputs {
        margin-left: auto;

        right: -0.4rem;

        .output_data {
            justify-content: flex-end;

            .port_name {
                padding-right: 0;
                margin-left: 0.25rem;

                border-radius: 0.25rem 0 0 0.25rem;
            }

            .output {
                margin-left: 0.9rem;
            }
        }
    }

    .footer {
        position: relative;

        width: 100%;
        height: 0.75rem;

        margin-top: -0.75rem;

        background: color-mix(in oklab, var(--node-color) 80%, #000);

        border-radius: $node-radius;
    }
}