@import "errorPage.scss";
@import "bufferInterface.scss";
@import "nodeInterface";
@import "nodePlayground.scss";

html, body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    overflow: hidden;
    background: $background;

    user-select: none;
}

#main-screen {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;

    display: flex;
    flex-direction: column;

    background: $foreground;
}

.preload {
    animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}