$shadow-color: #000;

$background: #333;
$foreground: #3060dd;

$buffer-foreground: #248;
$buffer-background: #359;
$buffer-hover: #4060c0;
$buffer-focus: #4060df;
$buffer-text-selected: #abf;
$buffer-text-not-selected: #9ad;
$buffer-text-placeholder: #999;

$interface-radius: 15px;
$interface-foreground: #555;

$node-radius: 7.5px;

$drawer-foreground: #248;
$drawer-background: #469;

$scrollbar-background: #247;
$scrollbar-foreground: #368;
$scrollbar-hover: #2c778f;