$shadow-color: #000;

$background: #333;
$foreground: #3060dd;

$buffer-foreground: #248;
$buffer-background: #469;
$buffer-selected: #fff;

$interface-radius: 15px;
$interface-foreground: #555;

$node-radius: 7.5px;

$drawer-foreground: #248;
$drawer-background: #469;

$scrollbar-background: #247;
$scrollbar-foreground: #368;
$scrollbar-hover: #2c778f;